*{
    margin: 0;
    padding: 0;
}

/* This is about untitled */

.intro{
height: 50vh;
text-align: center;
color: rgb(197, 63, 14);
font-size: 45px;
font-family: monospace;
margin-top:15%;
transition: 0.1s ease-in;
}

.intro :hover{
  color:rebeccapurple;
  transition: 00.2s;
} 




.intro h4 {
  text-align: center;
  color: seashell;
  font-size: 20px;
}

.content{
  height: 80vh;
}

.navbar{
    display:flex;
    background-color: darkslategray;
    
  } 
 

  ul li {
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
  }

  ul {
    transition: 0.2s;
    display: flex;
    margin-left: 65%;
}
  li a {
    color: white;
    text-decoration: none;
    transition: 0.2s;
    display: list-item;
    text-align: -webkit-match-parent;
  }

  .navbar .logo{
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    cursor: pointer;;
  }
   
 
  

  .logo{
      display: inline;
    float: left;
  }
  
  body{
    background-color:black;
  }
  
  footer{
    background-color: darkslategray;
    display:flex;
    justify-content: space-between;
    margin-top: 20%;

}

footer h1{
    color: white;
    margin-left: 20px;
    padding-top: 10px;
    font-family: 'Prompt', sans-serif; ;
}

footer h4{
    color: #B29D00;
    margin-left: 30px;
    padding-top: 10px;
    justify-content: space-between
}

footer .idty{
    margin-bottom: 10px;
    justify-content: space-around;
}



  h6 {
    color: brown; 
  margin-right: 70;
  padding-top:30px;
  font-family: 'Prompt'
  }
  



/* This is about images and pics in untitled */
  .img {
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    transition: 0.3s;
    
  }

  .pic a {
      width: max-content;
      transition: 0.3s; 
  }  
    
  
  
  
  /* This is about projects */
 
  #proj{
  
    background-color:#99C5D2;
 }
 
 #pargs{
  align-content: center;
  margin-left: 22%;
  display: flex;
  flex-wrap: wrap;
}
  
 
 
    
.blocks{
    width: 300px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #2F375B;
    border-radius: 15px;
    box-shadow: black 3px 6px 10px;   
}
   
   
.blocks a{
  text-decoration: none;
   color:rgb(53, 155, 155);
    border: solid white 0.5px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.blocks h1{
  text-align: center;
    color: goldenrod;
    font-weight: bolder;
    font-size: 26px;
    font-family: cursive;
}


/* This is about contact */
.login fieldset {
  width: max-content;
  margin-left:auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 30px;
  border-radius: 4px;
}
.login button {
  display: block;
    margin: auto;
    margin-top: 20px;
    width: 120px;
    height: 40px;
    border-radius: 5px;
    margin-top: 30px;
    font-size: 13px;
    color: white;
    background-color:darkslategray ;
    transition: 1s;
}

#title{
  text-align: center;
  color: lightsalmon;
  margin-left: auto;
  margin-right: auto;
  font-size: 40px;
  font-weight: bold;
  font-family: cursive;  
}
fieldset legend{
  color: lightsalmon;
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
label{
  font-family: cursive;
  font-size: 20px;
  color:darkslategray
}








